a{
    text-decoration: none;
    color: crimson;
}
a:hover{
    text-decoration: underline;
    color: crimson;
}

.black{
    background-color: black;
}
.offwhite{
    color: #f8f8f8;
}
.footer{
    box-shadow: 0 50vh 0 50vh #000;
}